[access]
	inheritFrom = All-Projects
[project]
	description = Test Gerrirt 
[access "refs/*"]
	owner = group user/junaidzubair10p
[access "refs/for/refs/*"]
	read = group user/junaidzubair10p
	push = group user/junaidzubair10p
	label-Code-Review = -2..+2 group user/junaidzubair10p
	label-Verified = -1..+1 group user/junaidzubair10p
	rebase = group user/junaidzubair10p
	removeReviewer = group user/junaidzubair10p
	submit = group user/junaidzubair10p
[access "refs/heads/*"]
	read = group user/junaidzubair10p
	create = group user/junaidzubair10p
	push = +force group user/junaidzubair10p
	pushMerge = group user/junaidzubair10p
[access "refs/tags/*"]
	push = group user/junaidzubair10p
	push = +force group user/junaidzubair10p
